.background{
background-image:url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png');
background-size:cover;
width:100vw
}


.switch{
color:orange;
background-color:white;
border-radius:8px;
width:150px
}

.wright{
font-family:roboto;
color:white
}

.pari{
padding:10px
}
